loguru
tqdm
pyyaml
pandas
matplotlib
scikit-learn
scikit-image
scipy
opencv-python
seaborn
albumentations
tabulate
warmup-scheduler
torch
torchvision
einops
pthflops
torchsummary
torchsummaryX
thop
segmentation-mask-overlay==0.3.4
timm==0.6.13
tensorboardX
medpy
ptflops==0.6.7